
<!-- Scripts Start -->
<script language="javascript" type="text/javascript" src="/assets/jquery-1.11.3.min.js"></script>
<script language="javascript" type="text/javascript" src="/assets/jquery.easing.js"></script>
<script language="javascript" type="text/javascript" src="/assets/jquery.mousewheel.js"></script>
<script language="javascript" type="text/javascript" src="/assets//owl.carousel.min.js"></script>
<script language="javascript" type="text/javascript" src="/assets/wow.min.js"></script>
<script language="javascript" type="text/javascript" src="/assets/jquery.flexslider.js"></script>
<script language="javascript" type="text/javascript" src="/assets/jquery.mixitup.min.js"></script>
<script language="javascript" type="text/javascript" src="/assets/bootstrap.min.js"></script>
<script language="javascript" type="text/javascript" src="/assets/custom.js"></script>
<!-- Scripts End -->


<!-- Modal -->
<div class="modal fade" id="sliderVideo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="pull-right custom-close">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
            <div class="embed-responsive embed-responsive-16by9" style="background:#000 url(assets/images/slider-2.jpg) no-repeat; background-size:100% 100%;">
                <video controls="true" class="embed-responsive-item sliderVideo" poster="assets/images/slider-2.jpg">
                    <source src="http://techslides.com/demos/sample-videos/small.mp4">
                    <source src="http://techslides.com/demos/sample-videos/small.mp4" type="video/mp4">
                    <source src="http://techslides.com/demos/sample-videos/small.webm" type="video/webm">
                    <source src="http://techslides.com/demos/sample-videos/small.ogv" type="video/ogg">
                    <source src="http://techslides.com/demos/sample-videos/small.3gp" type="video/3gp">
                </video>
            </div>        
      </div>
    </div>
  </div>
</div>