<div id="my-tab-content" class="tab-content">
	<%if @admin_post.present? %>



	<div class="product-img">
		<img src="<%= image.avatar.url(:large) %>" alt="" class="center-block img-responsive">
	</div>
	<span>View larger<i class="fa fa-search-plus"></i></span></a>
  

    <%end%>




</div>




